@model IEnumerable<MyJavaScript.Models.Entity.File>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Name</h2>

<p> 
    @Html.ActionLink("Create New File", "Create", new {id = Url.RequestContext.RouteData.Values["ID"]}, new { @class = "btn btn-info" })
</p>

@using (Html.BeginForm())
{
    <p>
        <input type="text" name="search" placeholder="Search for a file..">
        <input type="submit" value="Search" , new { class="btn btn-info" } />
    </p>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Edit", "Files", new { id = item.ID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @*@Html.ActionLink(" ", "Delete", new { id=item.ID }, new { @class = "glyphicon glyphicon-remove" })*@

            <a href="#" class="deleteLink" id="@item.ID"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
}
</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Projects")
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Are you sure you want to delete project?</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-info" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
        $("#deleteModal").modal("hide");

        $(".deleteLink").on("click", function () {
            $("#deleteBtn").on("click", function () {
                $("#deleteForm").submit();
            });
            $.get('@Url.Action("GetDeletePartial")', { id: $(this).prop("id") }, function (data) {
                $("#deleteModalBody").html(data);

                $("#deleteModal").modal("show");
            });

        });
    });
    </script>
}
