@model IEnumerable<MyJavaScript.Models.Entity.Project>

@{
    ViewBag.Title = "Index";

}

<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

<h2>@ViewBag.Name</h2>


<p>
    @Html.ActionLink("Create New Project", "Create", "Projects", new { @class = "btn btn-info" })
    @*<a href="#" class="createLink"><span class="glyphicon glyphicon-plus"></span></a>*@

</p>

@using (Html.BeginForm())
{
    <p>
        <input type="text" name="search" placeholder="Search for a project..">
        <input type="submit" value="Search", new { class = "btn btn-info" } />
    </p>
}
 
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Index", "Files", new { id = item.ID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>    
        <td>
            @*<a href="#" class="shareLink" id="@item.ID"><span class="glyphicon glyphicon-plus"></span></a>*@

            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil" })
            @Html.ActionLink(" ", "ShareProject", new { id = item.ID }, new { @class = "glyphicon glyphicon-link"})

            <a href="#" class="deleteLink" id="@item.ID"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
}
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Are you sure you want to delete project?</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-info" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
<script>
        $(function () {
        $("#deleteModal").modal("hide");

        $(".deleteLink").on("click", function () {
            $("#deleteBtn").on("click", function () {
                $("#deleteForm").submit();
            });
            $.get('@Url.Action("GetDeletePartial")', { id: $(this).prop("id") }, function (data) {
                $("#deleteModalBody").html(data);

                $("#deleteModal").modal("show"); 
            });
        });
    });
</script>

}