@model IEnumerable<MyJavaScript.Models.Entity.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New Project", "Create", "Projects", new { @class = "btn btn-info" })

</p>

@using (Html.BeginForm())
{
    <p>
        <input type="text" name="search" placeholder="Search for a project..">
        <input type="submit" value="Search", new { class = "btn btn-info" } />
    </p>
}
 
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>    
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Index", "Files", new { id = item.ID }, null)

        </td>
        <td>
             @*   @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })*@
            @Html.DisplayNameFor(model => model.UserID)
        </td>
        
        <td>
            @Html.ActionLink(" ", "ShareProject", new { id = item.ID }, new { @class = "glyphicon glyphicon-link"})
            @Html.ActionLink(" ", "Delete", new { id=item.ID }, new { @class = "glyphicon glyphicon-remove"})
        </td>
    </tr>
}
</table>
